
{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
                <hr>
                <a href="{{ path('article_list') }}">Go Back</a>
            </div>
        </div>
    </div>
{% endblock %}