{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-body">
                        <div class="card-header">List of users</div>
                            <table class="table">
                                <tr>
                                    <th>User Name</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Mobile Number</th>
                                </tr>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.address }}</td>
                                        <td>{{ user.mobileNo }}</td>
                                    </tr>
                                {% endfor %}
                            </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
